body { 
    padding: 0; 
    margin: 0;
    color:aliceblue;
    background-color: #0f0f0f
 }

.root{
    margin: 0%;
    padding: 0%;

}
/* 
.body-container{

} */
.app {
    margin: 0%;
    padding: 0%;
    background-color: #0f0f0f;
}

.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid #0f0f0f;
    margin: none;
    padding: none;
    margin: 0%;
    border-bottom: 2px solid;
    padding: 0%;
}
.logo-container {
    margin: 0%;
    padding: 0%;
    padding-top: 20px;
}
.header-logo{
    width: 150px;
    padding-top:30px;
    padding-right: 10px;
}
.login-btn-container{
    display: flex;
    flex-wrap: wrap-reverse;
    padding:30px;
    padding-bottom:0px;

}

.login-btn{
    height:2rem;
    margin-left: 270px;

}

.nav-items{
    font-size: 20px;
    display: flex;
    list-style: none;
    padding-right :50px;
}

.nav-items > li {
    margin: 10px;
}
.sub-header{
    display: flex;
    flex-wrap: wrap;
}

.search-container{
    padding: 20px;
    
}
.search-input{
    padding:3px;
    margin-left:30px;
}

.search-btn{
    padding:3px;
}

.filter-btn{
    
    margin-left: 30px;
    margin-top: 20px;
    padding:3px;
    
}
.reset-btn{
    margin-left: 30px;
    margin-top: 20px;
    padding:3px;
    
}

.res-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
}
.res-card{
    background-color: #282424;
    width:200px;
    padding: 5px;
    filter: brightness(90%);
    border-radius: 7px;
    margin: 10px;
    align-content: flex-start;

}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
    padding : 40px;
    padding-top: 120px;
}

.shimmer-card{
    background-color: #282424;
    width:200px;
    padding: 5px;
    filter: brightness(90%);
    border-radius: 7px;
    height:300px;
    margin: 10px;
}


.res-card:hover{
    border: 1px solid #0f0f0f;
    width: 198px;
    cursor: pointer;
    background-color: #2e2c2c;
    filter: brightness(90%);
}

.card-logo{
    width: 190px;
    height: 200px;
    margin: 5px;

}

.card-logo:hover{
    filter: brightness(120%);
}

.menu-logo{
    width: 200px;
}

