@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgb(68, 64, 64);
    color:azure;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
