@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #394343;
    color:#D2DBC8;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
